        <div class="row">
            <p>Enter a note about something you want to remember</p>
          <form method="post" action="notes/">
            
              <textarea
                     class="wordwrap"
                     id="addNote"
                     name="notetext"
                     autofocus=true
                     rows=5
                     cols=80
                     ></textarea>
                     <input type=submit />
          </form>
        </div>